<div class="container">
  <mat-toolbar class="tolbar">
    <span>CLUBES 2023</span>
    <div class="example-spacer"></div>
    <button routerLink="/app/create-club" class="butBar" mat-stroked-button>Proponer Club</button>
    <button routerLink="/app/clubes" class="butBar" mat-stroked-button>Ver Clubes</button>
  </mat-toolbar>


  <mat-card class="cardForm" style="margin-top: 10px;">
    <form [formGroup]="formClub" (ngSubmit)="addClub()">
      <mat-grid-list cols="4" rowHeight="70px">

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input type="text" matInput formControlName="nombre" autocomplete="off">
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" >
          <mat-form-field class="ancho" appearance="fill">
            <mat-label>Categoría</mat-label>
            <mat-select matInput formControlName="categoria">
              <mat-option class="mySelect" *ngFor="let categoria of categorias" [value]="categoria.value">
                {{categoria.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile [colspan]="1" [rowspan]="1" [style.background]="'ligthblue'">
          <button class="butForm" type="submit" [disabled]="formClub.invalid" mat-raised-button>Guardar</button>
          <button class="butForm" routerLink="/app/students" mat-raised-button>VOLVER</button>
        </mat-grid-tile>

      </mat-grid-list>
    </form>
  </mat-card>

  </div>
